<div *ngFor="let qu of quotes; let i=index">
    <p>
        {{qu.citation}}
    </p>
    <!-- <p *ngIf="highestLike()!==qu.upvotes===0 || qu.upvotes===0">{{qu.citation}}</p> -->
</div>
<p><strong>The author of this quote is:</strong>{{qu.author}}
</p>
<p><strong>Contributed by:</strong>{{qu.person}}</p>
<p><strong>This quote has:</strong>{{likes}} upvotes</p>
<p><strong>This quote has:</strong>This quote has {{dislike}} downvotes</p>
<p><strong>This quote was created before:</strong> {{qu.newDate|timeCount}} days
</p>
<p><strong>Posted on:</strong>{{qu.completeDate|date}}</p>
<button id="like" (click)=' likeQuote() '>LIKE</button>
<button id="dislike" (click)='dislikeQuote() '>DISLIKE</button>