<div class="col-md-6">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
<div *ngFor='let q of quotes let i=index'>
    <p>Quote:</p>
    <p>{{q.quote}}</p>
    <p>Quote Detail</p>
    <p>This quote has{{likes}} upvotes</p>
    <p>This quote has {{dislike}} downvotes</p>

    <app-diplay-quote [qu]='q'></app-diplay-quote>
    <app-diplay-quote *ngIf [qu]='q' (isComplete)='deleteQuote($event,i)'></app-diplay-quote>
    <button (click)=' likeQuote() '>LIKE</button>
    <button (click)='dislikeQuote() '>DISLIKE</button>
    <button (click)='deleteQuote($event,i)'>Delete Quote</button> -->


</div>