<!-- <p>
  quote-form works!
</p> -->
<div class="container-fluid">
    <h1>Have fun writing quotes </h1>
    <hr>
    <form>
        <div class="form-group">
            <label for="name">Authors Name</label><br><br> <input type="text" required class="form-control" id="name">
        </div>
        <div class="form-group">
            <label>Quote</label><br>
            <textarea class="form-control" id="description" rows="15" width="134" required></textarea>
        </div>
        <div class="form-group ">
            <label>person to submit</label><br>
            <input type="text " id="person " required>
        </div>
        <br>
        <button>LIKE</button>
        <button>DISLIKE</button>
    </form>
</div>